.navbar { 
    background-color: black;
    color: white; 
}

.nav-link, .navbar-brand { 
    color: white; 
}

.nav-link { 
    margin-right: 0;
}

.nav-link:hover { 
    background: white; 
    color: gray; 
}

.navbar-collapse { 
    justify-content: flex-end;
}

.navbar-toggler {  
    background: white;
}

.img-thumbnail {
    margin: 10%;
}

.navbar-collapse.in {
    display: block !important;
}

.card {
    margin: 1rem;
}

#footer {
    height: 60px;
    background-color: black;
    text-align: center;
    color: white;
}

.btn {
    margin: .25rem;
}