.navbar { 
    background-color:black;
    color: white;
}

.nav-link, .navbar-brand { 
    color: white; 
}

.nav-link { 
    margin-right: 0;
}

.nav-link:hover { 
    background: white; 
    color: gray; 
}

.navbar-collapse { 
    justify-content: flex-end;
}

.navbar-toggler {  
    background: white;
}

.img-thumbnail {
    margin-bottom: 20%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

.fa {
    color: black;
}

body, html {
    background-color: white;
    min-height: 100%;
    background-position: center;
    background-size: cover;
}

#aboutme {
    margin-top: 15%;
    margin-left: 15%;
}

.bs-example{
    margin: 20px;   
}

.navbar-collapse.in {
    display: block !important;
}